body {
    margin: 0;
}

main{
    padding: 2rem;
    background-color: #000000;
    
}

h1{
    color: white;
    font-size: 3rem;
    text-decoration: underline;
}

main ul{
    list-style: none;
    padding: 0;
}

main ul li{
    padding: 0.2rem;
    background-color: rgb(255, 133, 214);
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    display: inline-block;
}

main img{
    border-radius: 0.5rem;
    padding: 0.5rem;
}

#old-logo{
    width: 200px;
    height: 150px;
}